* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
	height: 100%;
}
header .imagem, header .texto {
    padding: 20px;
}

header {
	overflow: auto;
	background: black;
	color: white;
}

.wrapper {
	margin: 0 auto;
	max-width:1600px;
}

header {
	display: flex;
	flex-direction: row;
}

a, a:visited, a:hover, a:active {
	color: #08f;
}

#portfolio {
	padding-top: 30px;
	background: #191D21;
}

.portfolio_title {
	color: white;
	text-align: center;
	font-size: 26pt;
}

header .wrapper {
	display: flex;
}

header img {
	border-radius: 15px;
	max-width: 100%;
	display: inline-block;
}

header .imagem {
	text-align: center;
}

header p, header h1, header h4 {
	margin-bottom: 20px;
}

header .texto {
	padding: 30px!important;
	flex-grow: 1;
}

header h1 {
	font-size: 26pt;
}

header h4 {
	font-size: 20pt;
}

header p {
	font-size: 16pt;
}

a {
	text-decoration: none;
}
a.bloco, a:visited.bloco, a:hover.bloco, a:active.bloco {
	color: inherit;
}

body{
	background: black;
	font-weight: 300;
}

.colunas{
	column-gap: 20px;
	margin: 0 auto;
	padding: 15px;
}

.bloco h1 {
	font-size: 16pt;
	margin-bottom: 10px;
	text-align: center;
}

.bloco a, .bloco a:visited, .bloco a:hover, .bloco a:active {
	color: #05f;
}

.bloco{
	display: inline-block;
	background: #ebeded;
	padding: 20px;
	margin: 0 0 15px;
	width: 100%;
	color: #555!important;
}

.bloco, .bloco img {
	border-radius: 4px;
}

.bloco img{
	width: 100%;
	object-fit: cover;
}

.bloco img, .bloco h4 {
margin-bottom: 10px;
}

@media screen and (max-width:800px){
	.colunas{
		column-count: 1;
	}
}

@media screen and (min-width:801px){
	.colunas{
		column-count: 2;
	}
}

@media screen and (min-width:1080px){
	.colunas{
		column-count: 3;
	}
}

@media screen and (min-width:1200px){
	.colunas{
		column-count: 4;
	}
}

@media screen and (min-width:800px){
	header .wrapper > div {		
		align-self: center;
	}
    header .wrapper .imagem {
        align-self: flex-start;
    }
}

@media screen and (max-width:800px){
	header .texto {
		padding: 0;
		padding-top: 20px;
	}
}

@media screen and (max-width:1050px){
    header .wrapper {
        flex-direction: column;
    }
    header .imagem {
        order: 1;
        margin: 0;
        padding-top: 0;
    }
}

footer {
	background: black;
	color: white;
	font-size: 14pt;
	padding: 50px;
}
footer .flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.social-icons {
	display: flex;
	flex-direction: row;
}
.social-icon {
	margin-left: 20px;
}
.social-icon p {
	text-align: center;
	padding: 10px;
}
.icon {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	display: block;
	background-size: 100%;
}
.codepen {
	background-image: url(../img/codepen.png);
}
.codewars {
	background-image: url(../img/codewars.png);
}
.youtube {
	background-image: url(../img/youtube.png);
}

@media screen and (max-width:800px){
	footer .flex-container {
		flex-direction: column;
	}
	.contato {
		margin-bottom: 30px;
	}
}

@media screen and (max-width:493px){
	.social-icons {
		flex-direction: column!important;
	}
	.social-icon {
		margin-top: 20px;
	}
	.icon {
		width: 140px;
		height: 140px
	}
}

.call-to-action {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

button {
    cursor: pointer;
}

.call-to-action > button {
    margin-left: 10px;
    padding: 10px;
    border: 0;
    border-radius: 5px; 
    color: white;
}
.call-to-action__codigo {
    background: #00b386;
}
.call-to-action__acessar {
    background: #00238c;
}

.tags-filter {
    margin: 15px;
}
.tags-filter__filter-btn {
    margin: 10px 5px;
    padding: 12px;
    border: 0;
    font-size: 14pt;
    background: #006cd9;
    color: white;
    opacity: .7;
    transition: .5s opacity;
}
.tags-filter__filter-btn:hover {
    opacity: 1;
}
.tag-active {
    display: block;
}
.tag-inactive {
    display: none;
}

.destaque {
    color: white;
    background: #00a85a;
    padding: 60px;
}
.destaque-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.destaque__image {
    margin: 50px 0;
}

.destaque__image img {
    max-width: 100%;
}

.destaque__descricao {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destaque__paragrafo {
    margin-left: 20px;
    max-width: 500px;
}

.destaque__descricao > * {
    margin-bottom: 30px;
}

:root {
    --font-size: 18pt;
}

.destaque__descricao h1 {
    font-size: calc(var(--font-size) * 1.8);
}
.destaque__descricao h2 {
    font-size: calc(var(--font-size) * 1.4);
}
.destaque__descricao h3 {
    font-size: calc(var(--font-size) * 1.3);
}
.destaque__descricao p, .destaque__descricao button {
    font-size: calc(var(--font-size) * 1);
}

.destaque__content {
    display: flex;
    align-items: center;
}

.destaque__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.destaque__btn {
    margin-top: 40px;
    padding: 20px;
    width: 320px;
    border-radius: 50px;
    border: 3px solid white;
    background: transparent;
    color: white;
}

@media screen and (max-width:900px){
    .destaque__content {
        flex-direction: column;
    }
}

/* ======================================== */

$artigos-red: #d90000;
$artigos-blue: #0059b3;

.artigos-outros .btn {
    background: $artigos-red;
}
.artigos-blog .btn {
    background: $artigos-blue;
}

.artigos {

    background: white;
    padding: 50px;
    font-size: 16pt;

    img {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 26pt;
        text-align: center;
        margin-bottom: 30px;
    }

    .btn {
        display: block;
        padding: 20px;
        border-radius: 50px;
        border: 0;
        text-decoration: none;
        color: white;
        width: 200px;
        text-align: center;
        margin: 50px auto;
    }

    &-blog {
        margin-top: 50px;
    }
    &-outros {
        border-bottom: 2px solid #888;
        img {
            margin-top: 20px;
            max-width: 100%;
        }
        
        &__description {
            p {
                color: #888;
            }
        }
        &__description > * {
            margin-bottom: 20px;
        }
    }
}

.blog-feed {
    display: flex;
    overflow-x: auto;
    overflow: overflow;
    .blog-post {
        margin-right: 15px;
        img {
            border-radius: 15px;
        }
    }
}

.artigos-blog {
    h2 {
        margin-bottom: 20px;
    }
    ul {
        margin-left: 40px;
    }
    p {
        margin-top: 20px;
        color: #888;
    }
}

.imagem-destaque {
    float: left;
    max-width: 50%;
}

@media screen and (max-width:914px){
    .imagem-destaque {
        max-width: 100%;
    }
}

.clear {
    clear: both;
    margin-bottom: 30px;
}